@font-face {
  font-family: "iconfont"; /* Project id 2842536 */
  src: url('iconfont.ttf?t=1632972897823') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e62d";
}

.icon-arrow-down:before {
  content: "\e62c";
}

.icon-heart:before {
  content: "\e62b";
}

